@model ISWM.WEB.BusinessServices.user_master

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>user_master</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.isActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.isActive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.created_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.modified_datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.modified_datetime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userType_master.user_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userType_master.user_type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
