@model IEnumerable<ISWM.WEB.BusinessServices.actions_master>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.module_action_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.module_action_desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActivie)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.module_action_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.module_action_desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActivie)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.module_action_id }) |
           
            @Html.ActionLink("Delete", "Delete", new {  id=item.module_action_id })
        </td>
    </tr>
}

</table>
