@model IEnumerable<ISWM.WEB.BusinessServices.userType_modules>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.user_type_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.module_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isActivie)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.userType_master.user_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.module_master.module_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isActivie)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
          
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
