@model IEnumerable<ISWM.WEB.BusinessServices.ward_master>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ward_number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ward_description)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.isActivie)
        </th>        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ward_number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ward_description)
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.isActivie)
        </td>        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |          
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
